aiohttp==3.8.1
aiosignal==1.2.0
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.4.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.1
attrs==23.2.0
Babel==2.15.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
black==25.1.0
bleach==6.1.0
blinker==1.4
Brlapi==0.8.3
Brotli==1.1.0
cached-property==1.5.2
cattrs==24.1.3
cbor2==5.4.2
certifi==2024.7.4
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
chembl-webresource-client==0.10.9
chrome-gnome-shell==0.0.0
ci-info==0.3.0
click==8.1.8
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
configobj==5.0.8
configparser==7.1.0
contourpy==1.2.1
cryptography==3.4.8
cssselect2==0.8.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.7.0
docopt==0.6.2
docutils==0.17.1
easydict==1.13
email_validator==2.2.0
et-xmlfile==1.0.1
etelemetry==0.3.1
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.115.12
fastapi-cli==0.0.7
fasteners==0.19
fastjsonschema==2.20.0
filelock==3.15.4
flake8==7.2.0
fonttools==4.52.4
fqdn==1.5.1
freezegun==1.0.0
frozenlist==1.2.0
fsspec==2024.6.0
geoip2==2.9.0
gevent==21.8.0
gpg==1.16.0
graphviz==0.20.3
greenlet==1.1.2
GridDataFormats==1.0.2
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.4
httpx==0.27.0
idna==3.3
importlib-metadata==4.6.4
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.25.0
isodate==0.6.1
isoduration==20.11.0
jdcal==1.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.6
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libsass==0.20.1
looseversion==1.3.0
louis==3.20.0
lxml==5.3.0
macaroonbakery==1.3.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
maxminddb==2.0.3
mccabe==0.7.0
mda-xdrlib==0.2.0
MDAnalysis==2.7.0
mdpeditor==1.2.5
mdurl==0.1.2
mechanize==0.4.7
mistune==3.0.2
mmtf-python==1.1.3
more-itertools==8.10.0
mpmath==1.3.0
mrcfile==1.5.3
msgpack==1.1.0
multidict==5.1.0
multimethod==1.11.2
mypy==1.15.0
mypy_extensions==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
neo4j==5.27.0
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
nibabel==5.2.1
nipype==1.8.6
notebook==7.2.1
notebook_shim==0.2.4
num2words==0.5.10
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
ofxparse==0.21
olefile==0.46
openpyxl==3.0.9
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.0
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
pathlib==1.0.1
pathspec==0.12.1
pdf2image==1.17.0
pexpect==4.9.0
pikepdf==9.2.0
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.4.0
polib==1.1.1
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==3.12.4
proton-core==0.4.0
proton-keyring-linux==0.2.0
proton-vpn-api-core==0.42.4
proton-vpn-gtk-app==4.9.5
proton-vpn-network-manager==0.12.13
prov==2.0.1
psutil==6.0.0
psycopg2==2.9.2
psycopg2-binary==2.9.10
ptyprocess==0.7.0
PubChemPy==1.0.4
pure-eval==0.2.2
py3Dmol==2.1.0
PyAudio==0.2.14
pycairo==1.20.1
pycodestyle==2.13.0
pycparser==2.22
pycups==2.0.1
pydantic==2.11.4
pydantic_core==2.33.2
pydot==3.0.1
pydyf==0.11.0
pyflakes==3.3.2
pyftdi==0.55.4
pygame==2.5.2
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
pymol==2.5.0
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==3.1.2
PyPDF2==3.0.1
pyphen==0.17.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.13
pytest==8.0.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.0
python-gnupg==0.4.8
python-json-logger==2.0.7
python-multipart==0.0.20
python-stdnum==1.17
pytz==2024.1
pyusb==1.2.1
pyxdg==0.27
pyxnat==1.6.2
PyYAML==5.4.1
pyzmq==26.0.3
qrcode==7.3.1
rdflib==6.3.2
rdkit==2024.3.3
referencing==0.35.1
reportlab==3.6.8
requests==2.32.3
requests-cache==1.2.1
requests-file==1.5.1
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rich-toolkit==0.14.6
rjsmin==1.1.0
roman==3.3
rpds-py==0.18.1
scipy==1.13.1
SecretStorage==3.3.1
selenium==4.23.1
Send2Trash==1.8.3
sentry-sdk==1.4.3
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
sly==0.5
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.41
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.46.2
sympy==1.12.1
systemd-python==234
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.0.1
torch==2.3.1
torchaudio==2.3.1+cu118
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
traits==6.3.2
trio==0.26.0
trio-websocket==0.11.1
triton==2.3.1
typer==0.15.4
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
url-normalize==2.2.1
urllib3==1.26.5
usb-creator==0.3.7
utils==1.0.2
uvicorn==0.34.2
uvloop==0.21.0
vobject==0.9.6.1
wadllib==1.3.6
watchfiles==1.0.5
wcwidth==0.2.13
weasyprint==64.1
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==2.0.2
wrapt==1.16.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==3.0.2
yarl==1.7.2
zeep==4.1.0
zipp==1.0.0
zope.event==4.4
zope.interface==5.4.0
zopfli==0.2.3.post1
